PORT=3000

# Base de datos (Reemplaza con la URI proporcionada en el correo de entrega)
MONGO_URI=

# API Key de Finnhub (Reemplaza con la key proporcionada en el correo de entrega)
FINNHUB_API_KEY=

# Clave secreta para JWT (Reemplaza con proporcionada en el correo de entrega)
JWT_SECRET=