# API Key de Finnhub (Reemplaza con la key proporcionada en el correo de entrega)
EXPO_PUBLIC_FINNHUB_API_KEY=

# API Key de Backend (Reemplaza con la key proporcionada en el correo de entrega)

EXPO_PUBLIC_API_URL=